.product--no-media .rating-wrapper {
  text-align: center;
}

.rating__wrapper {
  display: flex;
  gap: 0.75rem;
  margin: 0 !important;
  align-items: center;
}

.rating {
  display: inline-block;
  margin: 0 !important;
  line-height: 1;
}

.product .rating-star {
  --letter-spacing: 0;
  --font-size: 1.6;
}

.card-wrapper .rating-star {
  --letter-spacing: 0;
  --font-size: 1.6;
}

.rating-star{
  --star-size:16px;
  --rating-max:5;
  position:relative;
  display:inline-block;
  width: 69px;
  height: 12px;
  background-image: url('https://cdn.shopify.com/s/files/1/2714/9868/files/Custom-Stars-Outline.svg');
}

.rating-star::before{
  content:"";
  position:absolute;
  inset:0;
  width:calc((var(--rating) + var(--rating-decimal,0)) / var(--rating-max) * 100%);
  background: url('https://cdn.shopify.com/s/files/1/2714/9868/files/Custom-Stars.svg');
  pointer-events:none;
}

.rating-text {
  display: none;
}

.rating-count {
  display: inline-block;
  margin: 0 !important;
  letter-spacing: 0;
  line-height: 1;
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
}
